@font-face{
    font-family: myFont;
    src: url(./Switzer-Variable.ttf);
}

body{
    font-family: myFont;
    overflow-x: hidden;
    margin: 0;
}

li{
    text-decoration: none;
    list-style: none;
}

#teethslider{
    height: 100%;
    width: 100%;
}

#teethslider .container {
    display: flex;
    gap: 2rem;
    padding: 1rem;
  
}

#teethslider .content h2{
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 500;
}

#teethslider .content p{
    font-size: 17px;
    margin: 0;
    text-decoration: underline;
}

#teethslider .card{
    margin: 1rem;
}

#card1, #card2, #card3, #card4 {
    display: flex;
    flex-direction: column;
   
    
}

#card1 img, #card2 img, #card3 img, #card4 img {
    transition: width 0.5s ease, height 0.5s ease; 
}




#card1 img { width: 25%; height: 278px; }
#card2 img { width: 25%; height: 437px; }
#card3 img { width: 40%; height: 488px; }
#card4 img { width: 10%; height: 278px; }



#teethslider .img img {
    width: 100%; 
 
}


